body {
  text-color: black;
  text-size: 35px;
  font-family: 'Oxygen', sans-serif;
}

#container{
margin: 0;
}

#header-nav{
background-color: #bfbfbf;
}

h2{
  text-align: center;
}

p{
  color: black;
}

#p1 {
  background-color: #D59898;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p2 {
  background-color:#C14543 ;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p3 {
 background-color: #E5D198;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}


.row {
  width: 100%;

}


